* { /*Zerar margem e espaço em geral */
    margin: 0px;
    padding: 0px;
}
/*definido letras e cor de fundo*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
/*tamanho e margem do site*/
.container{
    max-width: 1000px;
    margin: auto;
}
/* definição de cor de fundo, centralização do texto,cor da letra e espaçamento*/
header {
    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding: 10px;
    
}
 /*Tamanho da letra*/   
.title {
    font-size: 25px;

    
}
section {
    color: rgb(5, 5, 5);
    padding: 20px;
    background-image: url(images/people.jpg);
    background-size: cover;
    overflow: hidden;

}    
.formcontainer {
    max-width: 230px;/*tamanho de container lateral*/
    padding: 20px; /*padding para espaço da lateral*/
    float: right; /*flutuamento da container lado direito*/
    background-color: #ffffffbb; /*fundo*/
}
h2 {
    font-size: 16px;
}
.mb{
    margin-bottom: 15px;

}
input, select { 
    width: 100%;/*tamanho do formulario*/
    margin-bottom: 10px;/*espaço entre os blocos de formulario*/
    border: none; /*sem borda*/
    box-sizing: border-box; /*colocar a borda dentro da container*/
    padding: 18px; /*espaçamento e tamanho da container*/
}
input[type="submit"] {
    color: white; /*letra do input inscreva-se*/
    background-color: #48C5CE;/*fundo*/
    font-weight: bold; /*negrito*/
    
}


select { /*class criada para colocar um fakeseta na opçao de cidade ...*/
 -moz-appearance: none;   
 -webkit-appearance: none;
 -moz-appearance: none;
 background-image: url(images/arrow.jpg);
 background-repeat: no-repeat;
 background-position-x: calc(100% - 10px);
 background-position-y: center;

} /*tamanho da img, palestrante*/
.picture{
    width: 160px;
}
footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
    
}
.description {
    color: white;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}
.description p, .description h3 {
    margin-bottom: 20px
}
.description h3 {
    font-size: 24px;
}